/admin/.htpasswd.txt
/admin/.htaccess.txt
/data/penerhousdusr.sql
/config/prod/admin/.htaccess.txt
/config/prod/admin/.htpasswd.txt
/config/prod/config-prod.php
/peh/img/alentours/img/*.jpg
/peh/img/alentours/th/*.jpg
/peh/img/bienvenue/*.jpg
/peh/img/commun/*.png
/peh/img/commun/*.gif
/peh/img/descriptif/img/*.jpg
/peh/img/descriptif/th/*.jpg
/peh/img/en-images/img/*.jpg
/peh/img/en-images/th/*.jpg
/peh/img/escapades/img/*.jpg
/peh/img/escapades/th/*.jpg
/peh/img/livre-d-or/img/*.jpg
/peh/img/locmariaquer/img/*.jpg
/peh/img/locmariaquer/th/*.jpg
/peh/css/*.jpg
